body{
  width: 100vw;
  height: 100%;
  position: relative;
}
/*proporções e cor da bola*/
.bola{
  width: 35px;
  height: 35px;
  border-radius: 50%;
  position: absolute;
  background-color: rgb(232, 42, 245);
}